<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Smart Concrete Maturity Device</h1>
            <hr>
            <p>
                <strong>
                  Do active monitoring of fresh concrete at any construction site to determine accurately the concrete strength in pre-determined time intervals
               </strong>
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
