<footer>
    <div class="footer-main">    
      <div class="footer-welcome">
        <p style="text-align: center;">        
            <a title="LinkedIn public profile" href="https://www.linkedin.com/in/migueltomas/" style="color:white"><i style="margin-right:20px" class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
            <a title="StackOverFlow public profile" href="https://stackoverflow.com/users/13794189/miguel-silva?tab=profile" style="color:white"><i style="margin-right:20px"class="fa fa-stack-overflow fa-2x" aria-hidden="true"></i></a>
            <a title="AeonLabs Twitter profile" href="https://twitter.com/AeonlabsS" style="color:white"><i style="margin-right:20px"class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
            <a title="AeonLAbs public profile on GitHub" href="https://github.com/aeonSolutions" style="color:white"><i style="margin-right:20px" class="fa fa-github fa-2x" aria-hidden="true"></i></a>
          </p>

      </div> <!-- end footer-welcome -->
      
      <div class="footer-ul">
        <ul>
          <li><h4>Work Activities</h4></li>
          <li><a href="https://aeonSolutions.github.io/research.aeonlabs.solutions">Ongoing Reserch</a></li>
          <li><a href="https://scholar.google.com/citations?user=IkngnVcAAAAJ&hl=en">Google Scholar</a></li>
        </ul>

        <ul>
          <li><h4>For Education</h4></li>
          <li><a href="https://github.com/aeonSolutions/PCB-Prototyping-Catalogue/tree/main/Home%20Automation%20Safety%20%26%20Health">Safety in Technology</a></li>
          <li><a href="https://github.com/aeonSolutions">Technology Advisory</a></li>
          <li><a href="https://www.youtube.com/watch?v=io6QdGcoWMU">Science & Scientific Methods</a></li>
        </ul>
        
        <ul>
          <li><h4>Open Data & Open Source</h4></li>
          <li><a href="https://data.europa.eu/en">EU Open Data Portal</a></li>
          <li><a href="https://publications.jrc.ec.europa.eu/repository/handle/JRC119336">Explainability of A.I.</a></li>
        </ul>
        
        <ul>
          <li><h4>About AeonLabs</h4></li>
          <li><a href="https://aeonSolutions.github.io/socialnetworks.html">Twitter</a></li>
          <li><a href="https://www.hackster.io/mtpsilva">Articles and Tutorials on Hackster.io/a></li>
          <li><a href="https://stackoverflow.com/users/13794189/miguel-silva">StackOverFlow Activity</a></li>
          <li><a href="https://github.com/aeonSolutions">GitHub Activity</a></li>
          <li><a href="https://www.kaggle.com/migueltoms">Kaggle Activity</a></li>
          
        </ul>
      </div>
      

      <div class="footer-copyright">
        <p><a href="https://www.buy-me-a-coffee.com"><img src="https://aeonSolutions.github.io/layout/img/buy_me_coffee.png" height="25px" title="buy Miguel a coffee so he can work better !!!"></a>
        <br>AeonLabs Science. Creative Commons © 2023.
        <br>
         Send a message on <a href="https://api.whatsapp.com/send?phone=+32471632520">WhatsApp</a>
         <br>
         This website is frequently being updated. 
         If you find a #bug or any error let me know and earn a free technology advisory session.
        </p>
              <!-- TODO: language 
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <div class="vr"></div>
          <li><a href="#">Terms of Use</a></li>
          <div class="vr"></div>

        </ul>
        -- TODO: language 
        <div class="footer-lang">

          <p>&nbsp;</p>
          <div class="vr"></div>
          <p>&nbsp;</p>
        </div>
 --> 
      </div>
      
    </div>
    <div style="display: inline-block; height: 70px; width: 100%;">&nbsp;</div>
  </footer>
