<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">
                    This smart device is able to do active monitoring of fresh concrete at any construction site to determine accurately the concrete strength in pre-determined time intervals. This gives an advantage to a construction site team, as is able to accurately know the exact day the concrete structural element can have formworks removed and this saves time and money. The one available here on GitHub can be customized to function without the need for a cloud server, and instead provide the information on the smart device display only. It can also be configured to do measurements upload to a local server located inside the construction site.
                </p><p>
                    Alternatively, when is required LIVE remote access to the concrete data, this smart device is capable of LIVE experimental data measurements with a unique FingerPrint ID (more info here) configured to do measurements and upload directly to an open data repository, such as a dataverse. This is an important feature when considering, for instance, casess of legal dispute of concrete quality.    
                </p>
                <a href="https://github.com/aeonSolutions/AeonLabs-Monitor-Fresh-Reinforced-concrete-Hardening-Strength-maturity/wiki" class="btn btn-default btn-xl">Read more!</a>
            </div>
        </div>
    </div>
</section>
