<section class="bg-secondary" id="contact">
    <div class="container">
        <div class="row text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="bg-secondary">
        </div>
        <div class="row">
            {% for network in site.social %}
            <div class="col-xs-4 text-center">
                <a href="{{ network.url }}">
                    <i class="fa fa-{{ network.title }} fa-2x wow bounceIn" style="color:white;" data-wow-delay=".1s"></i>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
