<section class="bg-primary" id="news">
  <div class="container text-center">
      <div class="call-to-action">
          <h2>Latest news!</h2>
<!--          <a href="https://twitter.com/{{ site.twitter_username }}" class="btn btn-default btn-xl wow tada">-->
<!--              <i class="fab fa-twitter"></i>Follow</a>-->
      </div>
      <div class="row">
          <div class="embed-responsive embed-responsive-4by3 overflow-auto">
              <a class="twitter-timeline" data-lang="en"  data-width="50%" data-tweet-limit="3" href="https://twitter.com/SPEL_UCHILE?ref_src=twsrc%5Etf">Tweets by SPEL</a>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
    </div>
  </div>
</section>
