<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Laboratories</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row no-gutter" id="portfolio-grid">
            {% for project in site.projects %}
            <div class="col-lg-4 col-sm-6">
                <a href="{{ project.url }}" class="portfolio-box">
                    <img src="img/portfolio/{{ project.img }}" class="img-responsive" alt="{{ project.name }}">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                {{ project.name }}
                            </div>
                            <div class="project-category text-faded">
                                {{ project.area }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
